{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {% if not books %}
                <p>Sorry, there are no books in this catergory yet.</p>
                {% if 'username' in session %}
                <div class="edit-butons">
                    <a href="{{ url_for('newBook', category_id=category.id) }}" class="btn-group">Add Book</a>
                </div>
                {% endif %}
            {% endif %}
            {% for book in books %}
                <h2 class="featured-section">{{book.title}}</h2>
                <br>
                <h2><em>By {{ book.author }}</em></h2>
                <div class="post-content description">
                    <p>{{book.description}}</p>
                </div>
                {% if 'username' in session %}
                <div class="edit-butons">
                    <br>
                    <a href="{{url_for('editBook', category_id=book.category_id,book_id=book.id)}}" class="btn-group">Edit Book</a>
                    <a href="{{url_for('deleteBook', category_id=book.category_id, book_id=book.id)}}" class="btn-group">Delete Book</a>
                </div>
                <hr>
                {% endif %}
            {% endfor %}
            </div>
        </div>
{% endblock %}