{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error">{{error}}</div>
                <h1 class="featured-section">{{book.title}}</h1>
                <br>
                <h2><em>By {{ book.author }}</em></h2>
                <div class="post-content description">
                    <p>{{book.description}}</p>
                </div>
                <div>
                    <img class="img" src="{{book.img}}">
                </div>
                <br>
                {% if session['user_id'] == book.user_id %}
                <div>
                    <br>
                    <a href="{{url_for('editBook', category_id=book.category_id,book_id=book.id)}}" class="btn-group">Edit Book</a>
                    <a href="{{url_for('deleteBook', category_id=book.category_id, book_id=book.id)}}" class="btn-group">Delete Book</a>
                </div>
                {% endif %}
                <hr>
                <a href="{{url_for('showBook', category_id=book.category_id)}}" class="btn btn-primary" role=="button">Go Back</a>
            </div>
        </div>
{% endblock %}