{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="featured-section">Delete Category</h2>
        <br>
        <h2>Are you sure you want to delete this category?</h2>
        <br>
        <br>
        <form method="POST">
            <div class="error">{{error}}</div>
            <button class="btn btn-primary" type="submit">Delete</button>
            <a href="/categories/{{category_id}}" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}